* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  margin: 20px;
  letter-spacing: -1px; }

.inclinada {
  display: inline-block;
  transform: skew(-25deg, 0);
  color: gray; }

.titulo {
  font-size: 12px;
  vertical-align: top; }

.inclinada-2 {
  display: inline-block;
  transform: skew(0, -15deg) rotate(15deg);
  color: gray; }

.margen {
  letter-spacing: -5px; }
