@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Poppins:wght@300&family=Roboto&display=swap");
header nav {
  display: flex;
  align-items: center;
  justify-content: center; }
  header nav ul li {
    font-family: 'Caprasimo', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1.625rem;
    line-height: 2.4375rem;
    display: inline-block;
    list-style: none;
    margin-right: 10px; }
